@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #FFFFFF;
    max-width: 1920px;
}

/* --------Navbar------------ */

header{
    max-width: 1656px;
    margin: auto;
    background-color: aliceblue;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img{
    width: 120px;
}

header nav .center ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    padding: 25px 0;

}

header nav .center ul li{
    list-style: none;
}

header nav .right{
    padding: 10px 0;
}

header nav .right h2{
    font-size: 24px;
    color: #3BB77E;
}

header nav .right span{
    font-size: 18px;
    color: #A4A1A1;
}
