@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Quicksand", sans-serif;
    background-color: #FFFFFF;
    max-width: 1656px;
    margin: auto;
}
/* ------Common----- */
section{
    margin: 50px 0;
}

.btn{
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
input::placeholder {
    color: #B6B6B6;
}

input:focus{
    border: none;
}

.section-title{
    font-size: 32px;

}

/* --------Navbar------------ */

/* header{
    max-width: 1656px;
    margin: auto;
    background-color: aliceblue;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e1e1;
}

.nav-logo img{
    width: 120px;
}

header nav .center ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    padding: 25px 0;

}

header nav .center ul li{
    list-style: none;
    font-weight: 400;
}

header nav .right{
    padding: 10px 0;
}

header nav .right h2{
    font-size: 24px;
    color: #3BB77E;
}

header nav .right span{
    font-size: 18px;
    color: #A4A1A1;
}

/* --------Hero Section-------- */
.main .hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff2d9;
    height: 597px;
    border-radius: 20px;
    overflow: hidden;
}

.main .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../images/hero-bg.png) center/cover no-repeat;
    opacity: 0.1;
    z-index: 1;
    border-radius: 10px;
}

.hero .content {
    position: relative;
    z-index: 2;
    padding-left: 121px;
}

.hero .content h1{
    font-size: 72px;
    color: #253D4E;

}

.hero .subscribe{
    margin-top: 60px;
}
.hero .subscribe input{
    background-color: white;
    border-radius: 30px;
    width: 283px;
    padding: 15px 15px;
    border: none;
}

.hero .subscribe .subscribe-btn{
    background-color: #3BB77E;
    padding: 15px;
    color: white;
    position: relative;
    right: 95px;
}

.hero .content p{
    font-size: 30px;
    color: #A4A1A1;
    padding-top: 30px;
}

.main .hero .hero-bg img{
    max-height: 597px;
}



/* Featured */
.featured .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.featured .top ul{
    display: flex;
    gap: 30px;
}

.featured .top ul li{
    list-style: none;
}

.featured .top ul li:first-child{
    font-weight: bold;
}

.featured .left-arrow{
    height: 40px;
    width: 40px;
    background-color: #F2F3F4;
    color: #A4A1A1;
}

.featured .right-arrow{
    height: 40px;
    width: 40px;
    background-color: #3BB77E;
    color: white;
}