@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Quicksand", sans-serif;
    background-color: #FFFFFF;
    max-width: 1656px;
    margin: auto;
}
/* ------Common----- */
section{
    margin: 50px 0;
}

.btn{
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.btn-orange{
    background-color: #FDC040 !important;
}
input::placeholder {
    color: #B6B6B6;
}

input:focus{
    border: none;
}

.section-title{
    font-size: 32px;

}

.card-title{
    font-size: 16px;
    font-weight: 700;
}

/* --------Navbar------------ */

/* header{
    max-width: 1656px;
    margin: auto;
    background-color: aliceblue;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e1e1;
}

.nav-logo img{
    width: 150px;
}

header nav .center ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    padding: 25px 0;

}

header nav .center ul li{
    list-style: none;
    font-weight: 600;
    cursor: pointer;
}

header nav .right{
    padding: 10px 0;
}

header nav .right h2{
    font-size: 24px;
    color: #3BB77E;
}

header nav .right span{
    font-size: 18px;
    color: #A4A1A1;
}

/* --------Hero Section-------- */
.main .hero {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff2d9;
    height: 597px;
    border-radius: 20px;
    overflow: hidden;
}

.main .hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url(../images/hero-bg.png) center/cover no-repeat;
    opacity: 0.1;
    z-index: 1;
    border-radius: 10px;
}

.hero .content {
    position: relative;
    z-index: 2;
    padding-left: 121px;
}

.hero .content h1{
    font-size: 72px;
    color: #253D4E;

}

.hero .subscribe{
    margin-top: 60px;
}
.hero .subscribe input{
    background-color: white;
    border-radius: 30px;
    width: 283px;
    padding: 15px 15px;
    border: none;
}

.hero .subscribe .subscribe-btn{
    background-color: #3BB77E;
    padding: 15px;
    color: white;
    position: relative;
    right: 95px;
}

.hero .content p{
    font-size: 30px;
    color: #A4A1A1;
    padding-top: 30px;
}

.main .hero .hero-bg img{
    max-height: 597px;
}



/* Featured */
.featured .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.featured .top ul{
    display: flex;
    gap: 30px;
}

.featured .top ul li{
    list-style: none;
}

.featured .top ul li:first-child{
    font-weight: bold;
}

.featured .left-arrow{
    height: 40px;
    width: 40px;
    background-color: #F2F3F4;
    color: #A4A1A1;
}

.featured .right-arrow{
    height: 40px;
    width: 40px;
    background-color: #3BB77E;
    color: white;
}

.featured .box{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 24px;
    margin: 40px 0;
}

.featured .box .card{
    background-color: #f2fce4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.featured .box .card span{
    color: #B6B6B6;
    padding: 5px 0;
}

.featured-ads{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.featured-ads .card{
    display: flex;
    background-color: #fff2d9;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding-left: 48px;
    border-radius: 10px;
}

.featured-ads .card h1{
    font-size: 24px;
}

.featured-ads .card img{
    height: 150px;
}

.featured-ads .card button{
    background-color: #3BB77E;
    padding: 10px 15px;
    color: white;
    margin-top: 20px;
    border-radius:5px;
}

/* Popular product */
.popular-product .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.popular-product .top ul{
    display: flex;
    gap: 30px;
}

.popular-product .top ul li{
    list-style: none;
}

.popular-product .top ul li:first-child{
    font-weight: bold;
}


.popular-product .container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
    margin-top: 53px;
}

.popular-product .container .card{
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    padding: 15px;
}

.popular-product .container .card-image {
    text-align: center;
}

.popular-product .container .card-image img {
    height: 145px;
    padding: 30px;
}

.popular-product .container .card-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.popular-product .container .card-content h1{
    font-size: 16px;   
}

.popular-product .container .card-content span{
    font-size: 14px;   
    color: #A4A1A1;
}

.popular-product .container .card-content .card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popular-product .container .card-content .card-footer .price{
    color: #3BB77E;
    font-size: 20px;
    font-weight: 700;
}

.popular-product .container .card-content .card-footer .btn{
    padding: 6px 11px;
    background-color: #DEF9EC;
    color: #3BB77E;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
}

/* Best Seller */
.best-seller .container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 53px;
}

.best-seller .container .ads-img img{
    width: 290px;
    border-radius: 10px;
}

.best-seller .container .items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.best-seller .container .card{
    border: 1px solid #E5E5E5;
    border-radius: 15px;
    padding: 15px;
}

.best-seller .container .card-image {
    text-align: center;
}

.best-seller .container .card-image img {
    height: 125px;
    padding: 30px;
}

.best-seller .container .card-content{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.best-seller .container .card-content h1{
    font-size: 16px;   
}

.popular-product .container .card-content span{
    font-size: 14px;   
    color: #A4A1A1;
}

.best-seller .container .card-content span{
    font-size: 14px;   
    color: #A4A1A1;
}

.best-seller .container .card-content .card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.best-seller .container .card-content .card-footer .price{
    color: #3BB77E;
    font-size: 20px;
    font-weight: 700;
}



.best-seller .container .items .card .card-button{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.best-seller .container .items .card .card-button button{
    background-color: #3BB77E;
    color: white;
    width: 100%;
    padding: 11px;
    border-radius: 5px;
    font-size: 16px;
}


.footer footer .container{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 2fr;
    gap: 80px;

}

footer .container .item{
    display: flex;
    flex-direction: column;
}
footer .container .item h1{
   font-size: 24px;
   color: #253D4E;
   line-height: 32px;
   padding-bottom: 26px;
}

footer .container .item a{
   font-size: 16px;
   color: #253D4E;
   line-height: 24px;
   cursor: pointer;
}
footer .container .item span{
   font-size: 16px;
   color: #253D4E;
   line-height: 24px;
}

footer .container .item .logo{
    margin-bottom: 23px;
}

footer .container .item .logo img{
    height: 80px;
}

footer .container .item .store-img{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 20px 0px;
}

footer .container .item .card-img{
    padding-top: 20px;
}

footer .footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: #F9F9F9;
    border-radius: 10px;
}

footer .divider{
    margin-top: 50px;
}

footer .footer-bottom strong{
    color: #3BB77E;
    
}