<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery E-Commerce - Home Page</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-logo">
                <img src="../assets/images/logo.png" alt="">
            </div>
            <div class="center">
                <ul>
                <li>Home</li>
                <li>Shop</li>
                <li>About</li>
                <li>Contact Us</li>
            </ul>
            </div>
            <div class="right">
                <h2>1900 - 8888</h2>
                <span>24/7 Support Center</span>
            </div>
        </nav>
    </header>
</body>
</html>