<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery E-Commerce - Home Page</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-logo">
                <img src="../assets/images/logo.png" alt="">
            </div>
            <div class="center">
                <ul>
                    <li>Home</li>
                    <li>Shop</li>
                    <li>About</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="right">
                <h2>1900 - 8888</h2>
                <span>24/7 Support Center</span>
            </div>
        </nav>
    </header>
    <div class="main">
        <section class="hero">
            <div class="content">
                <h1>Don’t miss amazing grocery deals</h1>
                <p>Sign up for the daily newsletter</p>
                <div class="subscribe">
                    <input type="text" placeholder="Your emaill address">
                    <button class="btn subscribe-btn">Subscribe</button>
                </div>
            </div>
            <div class="hero-bg">
                <img src="../assets/images/hero-img.png" alt="">
            </div>
        </section>
        <!-- Featured Categories -->
        <section class="featured">
            <div class="top">
                <h1 class="section-title">Featured Categories</h1>
                <ul>
                    <li>All</li>
                    <li>Milks & Dairies</li>
                    <li>Coffes & Teas</li>
                    <li>Pet Foods</li>
                    <li>Meats</li>
                    <li>Vegetables</li>
                    <li>Fruits</li>
                </ul>
                <div class="arrow-btn">
                    <button class="btn left-arrow"><</button>
                    <button class="btn right-arrow">></button>
                </div>
            </div>
        </section>
    </div>
</body>

</html>