<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery E-Commerce - Home Page</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-logo">
                <img src="../assets/images/logo.png" alt="">
            </div>
            <div class="center">
                <ul>
                    <li>Home</li>
                    <li>Shop</li>
                    <li>About</li>
                    <li>Contact Us</li>
                </ul>
            </div>
            <div class="right">
                <h2>1900 - 8888</h2>
                <span>24/7 Support Center</span>
            </div>
        </nav>
    </header>
    <div class="main">
        <section class="hero">
            <div class="content">
                <h1>Don’t miss amazing grocery deals</h1>
                <p>Sign up for the daily newsletter</p>
                <div class="subscribe">
                    <input type="text" placeholder="Your emaill address">
                    <button class="btn subscribe-btn">Subscribe</button>
                </div>
            </div>
            <div class="hero-bg">
                <img src="../assets/images/hero-img.png" alt="">
            </div>
        </section>
        <!-- Featured Categories -->
        <section class="featured">
            <div class="top">
                <h1 class="section-title">Featured Categories</h1>
                <ul>
                    <li>All</li>
                    <li>Milks & Dairies</li>
                    <li>Coffes & Teas</li>
                    <li>Pet Foods</li>
                    <li>Meats</li>
                    <li>Vegetables</li>
                    <li>Fruits</li>
                </ul>
                <div class="arrow-btn">
                    <button class="btn left-arrow">
                        < </button>
                            <button class="btn right-arrow">></button>
                </div>
            </div>
            <div class="box">
                <div class="card">
                    <img src="../assets/images/featured-img/1.png" alt="featured-1">
                    <div class="card-title">Cake & Milk</div>
                    <span>14 Items</span>
                </div>
                <div class="card">
                    <img src="../assets/images/featured-img/2.png" alt="featured-2">
                    <div class="card-title">Peach</div>
                    <span>16 Items</span>
                </div>
                <div class="card">
                    <img src="../assets/images/featured-img/3.png" alt="featured-3">
                    <div class="card-title">Red Apple</div>
                    <span>20 Items</span>
                </div>
                <div class="card">
                    <img src="../assets/images/featured-img/4.png" alt="featured-4">
                    <div class="card-title">Snack</div>
                    <span>13 Items</span>
                </div>
                <div class="card">
                    <img src="../assets/images/featured-img/6.png" alt="featured-6">
                    <div class="card-title">Black Plum</div>
                    <span>15 Items</span>
                </div>
                <div class="card">
                    <img src="../assets/images/featured-img/1.png" alt="featured-1">
                    <div class="card-title">Cake & Milk</div>
                    <span>14 Items</span>
                </div>
                <div class="card">
                    <img src="../assets/images/featured-img/2.png" alt="featured-2">
                    <div class="card-title">Peach</div>
                    <span>16 Items</span>
                </div>
                <div class="card">
                    <img src="../assets/images/featured-img/3.png" alt="featured-3">
                    <div class="card-title">Red Apple</div>
                    <span>20 Items</span>
                </div>
                <div class="card">
                    <img src="../assets/images/featured-img/4.png" alt="featured-4">
                    <div class="card-title">Snack</div>
                    <span>13 Items</span>
                </div>
                <div class="card">
                    <img src="../assets/images/featured-img/6.png" alt="featured-6">
                    <div class="card-title">Black Plum</div>
                    <span>15 Items</span>
                </div>
            </div>

            <div class="featured-ads">
                <div class="card">
                    <div class="left">
                        <h1>Everyday Fresh & Clean with Our Products</h1>
                        <button class="btn">Shop Now ></button>
                    </div>
                    <img src="../assets/images/hero-img.png" alt="">
                </div>
                <div class="card">
                    <div class="left">
                        <h1>Make your Breakfast Healthy and Easy</h1>
                        <button class="btn">Shop Now ></button>
                    </div>
                    <img src="../assets/images/hero-img.png" alt="">
                </div>
                <div class="card">
                    <div class="left">
                        <h1>The best Organic Products Online</h1>
                        <button class="btn">Shop Now ></button>
                    </div>
                    <img src="../assets/images/hero-img.png" alt="">
                </div>
            </div>
        </section>

        <!-- Product section -->
        <section class="popular-product">
            <div class="top">
                <h1 class="section-title">Popular Product</h1>
                <ul>
                    <li>All</li>
                    <li>Milks & Dairies</li>
                    <li>Coffes & Teas</li>
                    <li>Pet Foods</li>
                    <li>Meats</li>
                    <li>Vegetables</li>
                    <li>Fruits</li>
                </ul>
            </div>

            <div class="container">
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/1.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>Seeds of Change Organic Quinoa, Brown, & Red Rice</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/2.png" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>All Natural Italian-Style Chicken Meatballs</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/3.png" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>Angie’s Boomchickapop Sweet & Salty Kettle Corn</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/4.png" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>Foster Farms Takeout Crispy Classic Buffalo Wings</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/5.png" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>Blue Diamond Almonds Lightly Salted Vegetables</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/1.jpg" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>Seeds of Change Organic Quinoa, Brown, & Red Rice</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/2.png" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>All Natural Italian-Style Chicken Meatballs</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/3.png" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>Angie’s Boomchickapop Sweet & Salty Kettle Corn</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/4.png" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>Foster Farms Takeout Crispy Classic Buffalo Wings</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-image">
                        <img src="../assets/images/products/5.png" alt="">
                    </div>
                    <div class="card-content">
                        <span>Hodo Foods</span>
                        <h1>Blue Diamond Almonds Lightly Salted Vegetables</h1>
                        <span>500 gram</span>
                        <div class="card-footer">
                            <h1 class="price">$2.51</h1>
                            <button class="btn">Add +</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Best Seller Section -->
        <section class="best-seller">
            <h1 class="section-title">Best Sellers</h1>
            <div class="container">
                <div class="ads-img">
                    <img src="../assets/images/ads-1.jpg" alt="">
                </div>
                <div class="items">
                    <div class="card">
                        <div class="card-image">
                            <img src="../assets/images/products/1.jpg" alt="">
                        </div>
                        <div class="card-content">
                            <span>Hodo Foods</span>
                            <h1>Blue Diamond Almonds Lightly Salted Vegetables</h1>
                            <span>500 gram</span>
                            <div class="card-footer">
                                <h1 class="price">$2.51</h1>
                                <span>Sold: 90/120</span>
                            </div>
                            <div class="card-button">
                                <button class="btn">Add to Cart</button>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="../assets/images/products/5.png" alt="">
                        </div>
                        <div class="card-content">
                            <span>Hodo Foods</span>
                            <h1>Blue Diamond Almonds Lightly Salted Vegetables</h1>
                            <span>500 gram</span>
                            <div class="card-footer">
                                <h1 class="price">$2.51</h1>
                                <span>Sold: 90/120</span>
                            </div>
                            <div class="card-button">
                                <button class="btn">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="../assets/images/products/2.png" alt="">
                        </div>
                        <div class="card-content">
                            <span>Hodo Foods</span>
                            <h1>Blue Diamond Almonds Lightly Salted Vegetables</h1>
                            <span>500 gram</span>
                            <div class="card-footer">
                                <h1 class="price">$2.51</h1>
                                <span>Sold: 90/120</span>
                            </div>
                            <div class="card-button">
                                <button class="btn">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="../assets/images/products/3.png" alt="">
                        </div>
                        <div class="card-content">
                            <span>Hodo Foods</span>
                            <h1>Blue Diamond Almonds Lightly Salted Vegetables</h1>
                            <span>500 gram</span>
                            <div class="card-footer">
                                <h1 class="price">$2.51</h1>
                                <span>Sold: 90/120</span>
                            </div>
                            <div class="card-button">
                                <button class="btn">Add to Cart</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</body>

</html>